trials/
*.toc
serial/
work_log.txt
original*/
*.vtu
*.pvtu
*.cmake
Makefile
CMakeFiles/
*Ca*
xtrans
xtrans_test
dg-ep*
*cg*.txt
*dg*.txt
*dfem*.txt
*cfem*.txt
quadr.txt
*.aux
*.log
*.blg
*.out
*.gz
src/original*
*matrix*txt
lib*.*
*_exe
*.debug/
Testing/
*.json
*.release
html/
latex/
build/
test_data/

# For ggtags
GPATH
GRTAGS
GTAGS

# For emacs users
.dir-locals.el
